<script setup>
defineProps({
  title: {
    type: String,
    required: true,
    default: ""
  },
  subtitle: {
    type: String,
    required: true,
    default: ""
  },
  description: {
    type: String,
    required: true,
    default: ""
  },
  icon: {
    type: String,
    required: true,
    default: ""
  },
});
</script>
<template>
  <div
    class="col col-12 lg:col-4 md:col-6"
  >
    <div
      class="surface-ground border-round p-5 pt-5 pb-6 h-full"
    >
      <span class="text-4xl px-0 border-round ml-1">
        <i :class="icon" />
      </span>
      <div class="text-bluegray-500 mb-2 mt-3 font-medium">
        {{ subtitle }}
      </div>
      <div class="text-900 mb-3 font-medium mt-3 text-xl">
        {{ title }}
      </div>
      <span class="text-600 line-height-3 text-sm">
        {{ description }}
      </span>
    </div>
  </div>
</template>

