*,
*::before,
*::after {
  margin: 0;
  position: relative;
}
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.section-content {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}