<script setup>
import { useRoute } from 'vue-router';
import { getMergedData, getAppsByDeveloper } from '@/data/tables/mergedData.js';
import AppWidget from "@/components/AppWidget.vue";

const allApps = getMergedData()
const route = useRoute();
const appData = allApps.filter((el) => el.id == route.params.appSlug)[0]
const otherAppsBySameDev = getAppsByDeveloper(appData.developerData.id).filter(child => child.id !== appData.id)
const appsBySameDev = otherAppsBySameDev.slice(0, 6);
const showMoreLink = (appsBySameDev.length > 2)
</script>
<template>
  <div class="content-wrapper">
    <div
      class="px-4 md:px-6 lg:px-8 mb-7"
      style="min-height: 60vh;"
    >
      <!-- breadcrumb-->
      <div class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm">
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i
            class="bi bi-house-fill ml-2 text-700"
          />
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          to="/categories"
          class="no-underline text-700"
        >
          Categories
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          :to="appData.routerLinkCategory"
          class="no-underline text-700"
        >
          {{ appData.categoryData.title }}
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          :to="appData.routerLinkCategory + '#' + appData.subcategory"
          class="no-underline text-700"
        >
          {{ appData.subcategoryData?.title }}
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          :to="'/apps/' + appData.id"
          class="no-underline text-700"
        >
          {{ appData.title }}
        </router-link>
      </div>



      <!-- app header -->
      <div class="grid border-bottom-1 border-300 mb-4 flex">
        <div class="col-12 md:col-8">
          <div class="flex justify-content-between flex-wrap">
            <div class="flex align-items-center mb-3 md:mb-0">
              <div class="text-900 font-bold text-5xl">
                <i
                  v-if="appData.ultimatePick"
                  class="bi bi-stars mr-2"
                  title="This app is part of the ultimate picks"
                />{{ appData.title }}
              </div>
            </div>
          </div>
          <p class="text-600 text-lg border-300">
            <router-link
              :to="'/developer/' + appData.developerId"
              class="no-underline text-900"
            >
              {{ appData.developerData.name }}
            </router-link>
          </p>
          <p class="text-600 text-lg pb-4">
            {{ appData.description }}
          </p>
        </div>
        <div class="col-12 md:col-4 grid align-content-start md:justify-content-end">
          <template v-if="appData.website">
            <a
              :href="appData.website"
              target="_blank"
              class="w-8 m-2 px-5 hero-button-small text-center"
              style="font-size: 1rem;"
            >Website <i class="bi bi-box-arrow-up-right ml-1" /></a>
          </template>

          <template v-if="appData.website !== appData.distribution.url">
            <template
              v-if="appData.distribution.method === 'website'"
            >
              <a
                :href="appData.distribution.url"
                target="_blank"
                class="w-8 m-2 font-bold text-center surface-ground no-underline text-800 p-3 border-round-xl hover:surface-hover"
                style="font-size: 1rem; background: black !important; color: white !important;"
              >Download <i class="bi bi-box-arrow-up-right ml-1" /></a>
            </template>
            <template v-else>
              <a
                :href="appData.distribution.url"
                target="_blank"
                class="w-8 m-2 font-bold text-center surface-ground no-underline text-800 p-3 border-round-xl hover:surface-hover"
                style="font-size: 1rem; background: black !important; color: white !important;"
              >{{ appData.distributionData.title }} <i class="bi bi-box-arrow-up-right ml-1" /></a>
            </template>
          </template>
        </div>
      </div>
      <div class="grid col">
        <div
          v-for="(tag, index) in appData.tags"
          :key="index"
          class="inline mr-1"
        >
          <router-link
            :to="'/tag/' + tag.replace(/\s+/g, '-').toLowerCase()"
          >
            <div class="no-underline text-800 surface-ground mr-1 p-2 px-3 border-round inline-block text-700 text-sm capitalize hover:surface-hover">
              {{ tag }}
            </div>
          </router-link>
        </div>
      </div>


      <!-- app info -->
      <div class="border-bottom-0 pb-4 border-300 grid mt-5">
        <!-- Supported platforms -->
        <div class="col-12 sm:col-6 md:col-4 mt-5">
          <div class="text-lg text-700 mb-3 border text-bluegray-500 font-medium">
            Supported platforms
          </div>
          <div class="grid col">
            <div
              v-if="appData.platforms.appleSilicon == true"
              class="col-12 text-600"
            >
              <i
                class="bi bi-apple mx-2"
              /> Apple Silicon
            </div>
            <div
              v-if="appData.platforms.intel == true"
              class="col-12 text-600"
            >
              <i
                class="bi bi-cpu-fill mx-2"
              /> Intel X86
            </div>
          </div>
        </div>

        <!-- Payment model -->
        <div class="col-12 sm:col-6 md:col-4 mt-5">
          <div class="text-lg text-700 mb-3 border text-bluegray-500 font-medium">
            Payment model
          </div>
          <div class="grid col">
            <div
              v-if="appData.paymentModelData.id == 'free'"
              class="col-12 text-600"
            >
              <i
                class="bi bi-cup-hot-fill mx-2"
              /> Free
            </div>
            <div
              v-if="appData.paymentModelData.id == 'freemium'"
              class="col-12 text-600"
            >
              <i
                class="bi bi-coin mx-2"
              /> Freemium
            </div>
            <div
              v-if="appData.paymentModelData.id == 'paid'"
              class="col-12 text-600"
            >
              <i
                class="bi bi-cash mx-2"
              /> Paid
            </div>
            <div
              v-if="appData.paymentModelData.id == 'paid-in-app'"
              class="col-12 text-600"
            >
              <i
                class="bi bi-cash-coin mx-2"
              /> Paid In-app
            </div>
            <div
              v-if="appData.paymentModelData.id == 'subscription'"
              class="col-12 text-600"
            >
              <i
                class="bi bi-credit-card-fill mx-2"
              /> Subscription
            </div>
          </div>
        </div>

        <!-- Source code license -->
        <div class="col-12 sm:col-6 md:col-4 mt-5">
          <div class="text-lg text-700 mb-3 border text-bluegray-500 font-medium">
            Code license
          </div>
          <div class="grid col">
            <div
              v-if="appData.openSource"
              class="col-12 text-600"
            >
              <i
                class="bi bi-unlock-fill mx-2"
              /> Open Source
            </div>
            <div
              v-else
              class="col-12 text-600"
            >
              <i
                class="bi bi-lock-fill mx-2"
              /> Closed Source
            </div>
          </div>
        </div>

        <!-- Tags -->
        <div class="col-12 mt-5 hidden">
          <div class="text-lg text-700 mb-3 border text-bluegray-500 font-medium">
            Tags
          </div>

          <div class="grid col">
            <div
              v-for="(tag, index) in appData.tags"
              :key="index"
              class="inline mr-1"
            >
              <router-link
                :to="'/tag/' + tag"
              >
                <div class="no-underline text-800 surface-ground mr-1 p-2 px-3 border-round inline-block text-700 text-sm capitalize hover:surface-hover">
                  {{ tag }}
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>



      <!-- more apps by same developer -->
      <template v-if="appsBySameDev[0]">
        <div class="flex justify-content-between flex-wrap mt-3">
          <div class="flex align-items-center mb-3 md:mb-0 mt-7">
            <div class="text-900 font-bold text-3xl">
              More apps
            </div>
          </div>
        </div>
        <p class="text-600 text-lg">
          Explore more apps by the same developer
        </p>
        <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
          <template
            v-for="(item, index) in appsBySameDev"
            :key="item.title"
          >
            <template v-if="index <= 2">
              <AppWidget
                :id="item.id"
                :title="item.title"
                :description="item.description"
                :category="item.categoryData.title"
                :icon="item.categoryData.icon"
                :ultimate="item.ultimatePick"
                :website="(item.website !== false ? item.website: '')"
                size="xl"
              />
            </template>
          </template>
        </div>
        <div
          v-if="showMoreLink"
          class="mt-3 w-full flex justify-content-end"
        >
          <router-link
            :to="/developer/ + appsBySameDev[0].developerData.id"
            class="hero-button-small justify-content-end"
          >
            Show all <i class="bi bi-caret-right-fill" />
          </router-link>
        </div>
      </template>
    </div>
  </div>
</template>