<script setup>
import CategoryButton from '@/components/CategoryButton.vue';
import categories from "@/data/tables/categories.json";
</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 md:px-6 lg:px-8 mb-7">
      <!-- breadcrumb-->
      <div class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm">
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i
            class="bi bi-house-fill ml-2 text-700"
          />
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          to="/categories"
          class="no-underline text-700"
        >
          Categories
        </router-link>
      </div>
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl">
            Categories
          </div>
        </div>
      </div>
      <p class="text-600 text-xl mb-6">
        Select a category of apps
      </p>
      <div class="grid grid-nogutter align-items-center border-top-1 border-300 pt-5">
        <template
          v-for="category in categories.categories"
          :key="category.id"
        >
          <CategoryButton
            :title="category.title"
            :link="'categories/' + category.id"
            :description="category.shortDescription"
            :icon="category.icon"
            :icon-color="category.iconColor"
            class="p-1"
          />
        </template>
      </div>
    </div>
  </div>
</template>