<script setup>
import { useRoute } from "vue-router";
import AppWidget from "@/components/AppWidget.vue";
import CategoryName from "@/components/CategoryName.vue";

import categories from "@/data/tables/categories.json";

import { getMergedData } from "@/data/tables/mergedData.js";

const apps = getMergedData();

const route = useRoute();

const categoryName = route.params.categoryName;
const categoryApps = apps.filter(
  ({ category }) => category.toLowerCase() === categoryName.toLowerCase()
);
const categoryData = categories.categories.filter(
  ({ id }) => id.toLowerCase() == categoryName.toLowerCase()
)[0];
//const categoryAppsCount = Object.keys(categoryApps).length;

// Accepts the array and key
const groupBy = (array, key) => {
  return array.reduce((result, currentValue) => {
    (result[currentValue[key]] = result[currentValue[key]] || []).push(
      currentValue
    );
    return result;
  }, {});
};
// Group by color as key to the person array

const sortedValues = Object.values(categoryApps).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});

const appsGrouped = groupBy(sortedValues, "subcategory");
const sortedAppsGrouped = Object.fromEntries(
  Object.entries(appsGrouped).sort((a, b) => a[0].localeCompare(b[0]))
);
appsGrouped.value = Object.values(sortedAppsGrouped);


</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 md:px-6 lg:px-8 mb-1">
      <!-- breadcrumb-->
      <div
        class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm"
      >
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i class="bi bi-house-fill ml-2 text-700" />
        </router-link>
        <i class="bi bi-chevron-right mx-3 text-700" />
        <router-link
          to="/categories"
          class="no-underline text-700"
        >
          Categories
        </router-link>
        <i class="bi bi-chevron-right mx-3 text-700" />
        <router-link
          :to="categoryData"
          class="no-underline text-700"
        >
          {{ categoryData.title }}
        </router-link>
      </div>
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl">
            {{ categoryData.title }}
          </div>
        </div>
      </div>
      <p class="text-600 text-lg mb-0 border-bottom-0 pb-6 border-300">
        {{ categoryData.description }}
      </p>
    </div>


    <div class="px-4 md:px-6 lg:px-8 mb-2 text-2xl font-bold">
      Subcategories
    </div>
    <div
      id="search-and-filter"
      class="flex justify-content-between align-items-center mt-5 grid px-4 md:px-6 lg:px-8 grid"
    >
      <div
        id="horizontal-filter"
        class="toggle-content grid-nogutter"
        style="
          background: rgba(0, 0, 0, 0.025);
          border-radius: 8px;
          width: 100%;
        "
      >
        <div class="formgrid grid grid-nogutter p-0 pb-1">
          <template
            v-for="(item, name) in sortedAppsGrouped"
            :key="item.id"
          >
            <div
              class="col-12 md:col-6 lg:col-3 text-sm flex mb-1 p-1"
              style="line-height: 1.5;min-height: 3rem;"
            >
              <router-link
                :to="'#' + name"
                class="no-underline text-800 h-full align-items-center flex w-full border-round-lg subcategory-link p-2 m-1"
              >
                <CategoryName
                  :value="name"
                  :subcategory="true"
                />
              </router-link>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="px-4 md:px-6 lg:px-8 mb-2 ">
      <div class="border-top-1 border-300 mt-6" />
    </div>
    <div class="px-4 md:px-6 lg:px-8">
      <div
        class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300"
      >
        <template
          v-for="(item, name) in sortedAppsGrouped"
          :key="item.id"
        >
          <div
            :id="name"
            class="text-800 font-bold text-2xl mt-3 ml-2"
          >
            <router-link
              :to="'#' + name"
              class="no-underline text-800 hover:underline"
            >
              <CategoryName
                :value="name"
                :subcategory="true"
              />
            </router-link>
          </div>
          <div class="grid mt-3 w-full border-top-0 border-300 pb-5">
            <template
              v-for="item2 in item"
              :key="item2.title"
            >
              <AppWidget
                :id="item2.id"
                :title="item2.title"
                :description="item2.description"
                :ultimate="item2.ultimatePick"
                :website="item2.website !== false ? item2.website : ''"
                size="xl"
              />
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@forward "@/assets/sass/vendors/primefaces/primeflex";
@use "@/assets/sass/vendors/primefaces/variables" as *;

.subcategory-link {
  @extend .p-2;
}
.subcategory-link:hover {
  background: rgba(0, 0, 0, .05);
}
.toggle-content.open {
  max-height: 1225px;
}

.tab-toggle-button:hover, .tab-toggle-button:active {
  background: rgba(0, 0, 0, .05);
}
.showFilters-Button {
  background: rgba(0, 0, 0, .05);
  border:0;border-radius: 8px;
}
.showFilters-Button:hover, .showFilters-Button:active {
  cursor: pointer;
  background: rgba(0, 0, 0, .10);
}

@media screen and (min-width: map-get($sizes, md)) {
  #sidebar-filter {
    position: sticky !important;
    top: 6rem;
  }
}
</style>
