<script setup>
import developers from '@/data/tables/developers.json'
const developersCount = Object.keys(developers).length
</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 md:px-6 lg:px-8 mb-7">
      <!-- breadcrumb-->
      <div class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm">
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i
            class="bi bi-house-fill ml-2 text-700"
          />
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          to="/developers"
          class="no-underline text-700"
        >
          Developers
        </router-link>
      </div>

      <div class="flex justify-content-between flex-wrap ">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl capitalize">
            Developers
          </div>
        </div>
      </div>
      <p class="text-600 text-lg mb-0 border-300 border-top-1 pt-4">
        Showing all {{ developersCount }} developers featured on this site
      </p>
    </div>
    <div class="px-4 md:px-6 lg:px-8">
      <div class="grid align-items-center border-top-0 border-300">
        <template
          v-for="(item, index) in developers"
          :key="index"
        >
          <div class="col-4 ">
            <div class="grid m-1">
              <router-link
                :to="'/developer/' + item.id"
                class="col-12 w-full no-underline text-900 hover:surface-hover surface-ground w-full border-round p-3"
              >
                {{ item.name }}
              </router-link>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
