<script setup>
import { useRoute } from "vue-router"
import AppWidget from "@/components/AppWidget.vue"
import CategoryName from "@/components/CategoryName.vue";


import developers from '@/data/tables/developers.json'

import { getMergedData } from '@/data/tables/mergedData.js';
const apps = getMergedData()
const route = useRoute()

const developerName = route.params.developerName
const developerTitle = developerName.replace(/-/g, ' ')
const developerWebsite = developers.filter(item => item.id.includes(developerName))[0].website

const developerAppsData = apps.filter(item => item.developerId.includes(developerName));
const developerAppsCount = Object.keys(developerAppsData).length
const developerAppsDataSortedByName = Object.values(developerAppsData).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});

// Accepts the array and key
const groupBy = (array, key) => {
  return array.reduce((result, currentValue) => {
    (result[currentValue[key]] = result[currentValue[key]] || [])
    .push(
      currentValue
    );
    return result;
  }, {});
};

const sortedValues = Object.values(developerAppsDataSortedByName).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});

const appsGrouped = groupBy(sortedValues, "category");
const sortedAppsGrouped = Object.fromEntries(
  Object.entries(appsGrouped).sort((a, b) => a[0].localeCompare(b[0]))
);
appsGrouped.value = Object.values(sortedAppsGrouped);


</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 md:px-6 lg:px-8 mb-7">
      <!-- breadcrumb-->
      <div class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm">
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i
            class="bi bi-house-fill ml-2 text-700"
          />
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          to="/developers"
          class="no-underline text-700"
        >
          Developers
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          :to="developerName"
          class="no-underline text-700 capitalize"
        >
          {{ developerTitle }}
        </router-link>
      </div>

      <div class="flex justify-content-between flex-wrap ">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl capitalize">
            {{ developerTitle }}
          </div>
        </div>
      </div>
      <div
        v-if="developerWebsite"
        class="mt-3"
      >
        <a
          :href="developerWebsite"
          target="_blank"
          class="no-underline hover:underline text-800"
        >{{ developerWebsite }}</a>
      </div>
      <p class="text-600 text-lg mb-0 border-300 border-top-1 pt-4">
        Showing {{ developerAppsCount }} apps
      </p>
    </div>
    <div class="px-4 md:px-6 lg:px-8">
      <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
        <template
          v-for="(item, name) in sortedAppsGrouped"
          :key="item.id"
        >
          <div
            :id="name"
            class="text-800 font-bold text-2xl mt-3 ml-2"
          >
            <router-link
              :to="'#' + name"
              class="no-underline text-800 hover:underline"
            >
              <CategoryName
                :value="name"
              />
            </router-link>
          </div>
          <div class="grid mt-3 w-full border-top-0 border-300 pb-5">
            <template

              v-for="(item2) in (item)"
              :key="item2.title"
            >
              <AppWidget
                :id="item2.id"
                :title="item2.title"
                :description="item2.description"
                :ultimate="item2.ultimatePick"
                :website="(item2.website !== false ? item2.website: '')"
                size="xl"
              />
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
