<script setup>
import CardWidget from "@/components/landing/CardWidget.vue";
import AppWidget from "@/components/AppWidget.vue";
import { getMergedData } from '@/data/tables/mergedData.js'

const appData = getMergedData()
const totalApps = Object.keys(appData).length;
const totalAppsRender =  Math.trunc(totalApps / 50) * 50;
const totalUltimatePicks = Object.values(appData).reduce((a, { ultimatePick }) => a + ultimatePick, 0);
const totalUltimatePicksRender = Math.trunc(totalUltimatePicks / 10) * 10;
const appDataSortedByAddedDate = appData.sort((a, b) => new Date(b.dateAdded) - new Date(a.dateAdded));

</script>
<template>
  <div class="section-content overflow-hidden">
    <div class="content-wrapper align-items-center flex-grow-1 justify-content-between md:flex">
      <div class="grid my-7">
        <div class="col-12 md:col-7">
          <span class="text-500 text-xl capitalize">The ultimate app collection</span>
          <h1 class="text-7xl font-bold mb-3">
            The Best Place To Find <strong>Mac Apps</strong>
          </h1>
          <p class="text-500 text-lg line-height-3 w-10">
            Find the great apps and hidden gems to improve your MacOS experience with this manually curated app selection.
          </p>
          <div class="grid my-5">
            <router-link
              class="hero-button"
              to="/apps"
            >
              Explore now <i class="ml-2 bi bi-arrow-right" />
            </router-link>
          </div>
          <div class="grid mt-2">
            <div class="col-12 sm:col-6 lg:col-5">
              <div class="grid">
                <div class="col-12">
                  <span class="text-6xl font-bold">{{ totalAppsRender }}+</span>
                </div>
                <div class="col-12">
                  <span class="text-800 text-lg">Applications</span>
                </div>
              </div>
            </div>
            <div class="col-12 sm:col-6 lg:col-7">
              <div class="grid">
                <div class="col-12">
                  <span class="text-6xl font-bold">{{ totalUltimatePicksRender }}+</span>
                </div>
                <div class="col-12">
                  <span class="text-800 text-lg">Ultimate Picks</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 hidden md:flex">
          <div id="hero" />
        </div>
      </div>
    </div>
  </div>


  <div class=" section-content">
    <div
      class="content-wrapper align-items-center flex-grow-1 justify-content-between flex"
    >
      <div class="my-7 w-full">
        <div class="grid mb-5">
          <div class="col-12">
            <h1 class="text-5xl ml-2 font-bold">
              Striving for excellence
            </h1>
          </div>
          <div class="col-12 md:col-6 mg-4 ml-2 line-height-3 text-700">
            <span>By offering a higher quality control than others of what is allowed in our collection, we can offer the best selection on the market.</span>
          </div>
        </div>
        <div
          class="grid"
        >
          <CardWidget
            title="Tailored user experience"
            subtitle="Native look and feel"
            description="An polished interface using native libraries is some of the best looking and performent apps."
            icon="bi bi-palette2 text-blue-600"
          />
          <CardWidget
            title="Keep your battery healthy"
            subtitle="No browser apps"
            description="No web apps. Web apps often have a bad UI/UX and are a common source of poor battery life."
            icon="bi bi-battery-full text-green-600"
          />
          <CardWidget
            title="Software you can inspect"
            subtitle="Open-Source"
            description="Apps that you can inspect to check it does not have any spyware or common exploits."
            icon="bi bi-code text-grey-600"
          />
          <CardWidget
            title="Be in control"
            subtitle="Security and Privacy"
            description="Enhance the experience without system privileges, lowering security or using hacks."
            icon="bi bi-shield-check text-orange-400"
          />
          <CardWidget
            title="New and relevant"
            subtitle="No legacy support"
            description="We focus on software that has been updated and is still relevant from recent years."
            icon="bi bi-clipboard-check text-grey-600"
          />
          <CardWidget
            title="Standalone without lock-ins"
            subtitle="Indiependent"
            description="We embrace software that isn't locked to a single vendor. It's your choice what to do with it."
            icon="bi bi-people text-indigo-600"
          />
        </div>
      </div>
    </div>
  </div>


  <div class=" section-content">
    <div
      class="content-wrapper align-items-center flex-grow-1 justify-content-between flex"
    >
      <div class="my-7 w-full">
        <div class="flex justify-content-between flex-wrap card-container purple-container mb-3">
          <div class="flex align-items-center justify-content-center border-round m-2">
            <h1 class="text-5xl font-bold">
              Recently added
            </h1>
          </div>
          <div class="flex align-items-center  border-round m-2">
            <router-link
              class="hero-button-small"
              to="/recently-added"
            >
              Show more <i class="bi bi-caret-right-fill" />
            </router-link>
          </div>
        </div>

        <div class="grid">
          <template
            v-for="(item) in appDataSortedByAddedDate.slice(0, 4)"
            :key="item.title"
          >
            <AppWidget
              :id="item.id"
              :title="item.title"
              :description="item.description"
              :category="item.categoryData.title"
              :icon="item.categoryData.icon"
              :website="(item.website !== false ? item.website: '')"
              size="lg"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@keyframes bg-scrolling-reverse {
  100% { background-position: -1123px 0; }
}
#hero {
  width: 2300px;
  position:absolute;
  bottom:-81px;
  margin-bottom: 5px;
  margin-top: -25px;
  top:0;
  background: url("@/assets/img/hero.png") 0 0 repeat-x;
  animation: bg-scrolling-reverse 60s infinite;
  animation-timing-function: linear;
  border-radius: 3rem;
}
</style>