<script setup>
import { getMergedData } from '@/data/tables/mergedData.js';
import AppWidget from "@/components/AppWidget.vue";
import accordionWidget from "@/components/accordion/accordionWidget.vue";
import AccordionItem from "@/components/accordion/accordion-item.vue";
const appData = getMergedData()
const groupBy = (array, key) => {
  return array.reduce((result, currentValue) => {
    (result[currentValue[key]] = result[currentValue[key]] || [])
    .push(
      currentValue
    );
    return result;
  }, {});
};
const appDataGroupedByDate = groupBy(appData, 'dateAdded')
const reversedObj = {};
const keysArray = Object.keys(appDataGroupedByDate).sort((a, b) => new Date(b) - new Date(a));
for (const key of keysArray) {
  reversedObj[key] = appDataGroupedByDate[key];
}
const appDataSortedByReverseDate = reversedObj
const orderObj = {};
const keysArray2 = Object.keys(appDataGroupedByDate).sort((a, b) => new Date(a) - new Date(b));
for (const key of keysArray2) {
  orderObj[key] = appDataGroupedByDate[key];
}
function formatDate(dateString) {
  return new Intl.DateTimeFormat('en-US', {dateStyle: 'long'}).format(new Date(dateString));
}
</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 pt-8 md:px-6 lg:px-8">
      <div class="flex justify-content-between flex-wrap ">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl">
            Recently added apps
          </div>
        </div>
      </div>
      <p class="text-600 text-lg mb-5 border-bottom-1 pb-6 border-300">
        The best apps we found that overall align with the software curation guidelines and goes a step beyond with overall positive feedback and functionality.
      </p>
    </div>

    <!-- Section 1 -->
    <div class="px-4 md:px-6 lg:px-8">
      <div class="justify-content-between flex-wrap">
        <div class="grid border-0 grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
          <div
            v-for="(dateGroup, name, index) in appDataSortedByReverseDate"
            :key="index"
            class="grid border-0 mb-7"
          >
            <template v-if="index <= 0">
              <div class="text-900 font-bold text-3xl w-full">
                {{ formatDate(name) }}
              </div>
              <template
                v-for="(item) in dateGroup"
                :key="item.title"
              >
                <AppWidget
                  :id="item.id"
                  :title="item.title"
                  :description="item.description"
                  :category="item.categoryData?.title"
                  :icon="item.categoryData?.icon"
                  :ultimate="item.ultimatePick"
                  :website="(item.website !== false ? item.website: '')"
                  size="xl"
                />
              </template>
            </template>
          </div>
        </div>
      </div>
    </div>



    <accordionWidget class="mb-7">
      <div
        v-for="(dateGroup, name, outerIndex) in appDataSortedByReverseDate"
        :key="outerIndex"
        class="lg:mx-5"
      >
        <template v-if="outerIndex > 0 && outerIndex < 5">
          <accordion-item>
            <template #accordion-trigger>
              <div>{{ formatDate(name) }}</div>
            </template>
            <template #accordion-content>
              <div class="grid border-0 mb-7">
                <template
                  v-for="(item) in dateGroup"
                  :key="item.title"
                >
                  <AppWidget
                    :id="item.id"
                    :title="item.title"
                    :description="item.description"
                    :category="item.categoryData?.title"
                    :icon="item.categoryData?.icon"
                    :website="(item.website !== false ? item.website: '')"
                    size="xl"
                  />
                </template>
              </div>
            </template>
          </accordion-item>
        </template>
      </div>
    </accordionWidget>
  </div>
</template>