<script setup>
import ApproveRejectWidget from '@/components/ApproveRejectWidget.vue';
</script>
<template>
  <div class="content-wrapper">
    <div class="grid-nogutter px-4 py-8 md:px-6 lg:px-8">
      <div class="col-12 xl:col-10">
        <div class="text-900 font-bold text-5xl mb-3">
          Software curation
        </div>
        <p>
          We say no to mediocrity. Our goal is to offer a high quality collection of apps which features some of the best user experience without infringing on the user. With that, evey app is manually curated to be in the collection or not. Here is some guidelines and examples of what is approved and disapproved. Community feedback is always appriciated and things can change.
        </p>

        <h2>Security</h2>
        <p>
          Apps should enhance the user experience without without requireing system privileges, lowering security, using hacks to bypass the user or similar traits. Apps should work without disabling System Integrity Protection (SIP).
        </p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['Manila', 'iPreview', 'Bartender']"
          :bad-list="['Macforge', 'cDock', 'DogCow/ACE (Audio Capture Engine)']"
        />


        <h2>Native look and feel</h2>
        <p>
          As for the UI, libraries, frameworks, etc. the more native look and feel, OS integration, etc., the app has, the more polished it will be for most. An example of what's prefered is Cocoa, Qt, AppKit, SwiftUI, Catalyst etc. while CEF, Electron, JavaFX, Swing etc. is frameworks that is highly discarded.
        </p>
        <p>
          <em>
            Most web wrappers do not comply with the UI guidelines, drain the battery, increase your internet bandwidth and RAM usage, reimplementing existing OS features while often lacking native OS features such as accessability. This kind of software is highly discarded.</em>
        </p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['PLIST Editor', 'SnippetsLab', 'TablePLus', 'Proxyman']"
          :bad-list="['1Password (8 and later)', 'Slack', 'Figma', 'Notion']"
        />


        <h3>Browser applications</h3>
        <p>See above. No exceptions.</p>

        <h2>Free and Open-Source software</h2>
        <p>You can't determain software quality by it's license. However, when the a software combines both high quality polished experience with open-source, it can be something among the best out there. Something like VLC and Transmission is fantastic while something like GIMP or Audacity even though they "do the job", the lack of polish, OS integration, accessability etc. can't even match the most basic expectations.</p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['VLC', 'Transmission', 'UTM']"
          :bad-list="['GIMP', 'Audacity']"
        />

        <h2>No outdated software</h2>
        <p>Software that hasn't been updated in over 2 years, is not updated to be signed for newer MacOS versions, or is no longer relevant is rejected from the collection. There's cases when old software still works fine and that's allowed.</p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['Burn']"
          :bad-list="['Growl', 'Hyperdock']"
        />


        <h2>No company specific software</h2>
        <p>
          Any software that's specifally made to be tied to a company to be functional is rejected.
        </p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['Sourcetree (by Atlassian)']"
          :bad-list="['Tunnelbear VPN', 'Github Desktop']"
        />


        <h2>"Cleaning" software</h2>
        <p>
          This is a class grey area. We do not promote apps which are often found to be used as malicious tools towards the user, and it's hard for users to research which ones are legit and which are scams. A study found that nearly 50% of all mac malware is from MacKeeper alone.<sup><a
            href="https://9to5mac.com/2022/11/15/most-common-macos-malware/"
            target="_blank"
          >[1]</a></sup>.
        </p><p>
          Even when these apps do not have malicious intent, they often lie in their marketing, even in open-source software. Statements you can read is it will make your computer faster, by example deleting your 'Internet cache'. In reality, the next time the user visits those specific websites, they lost website data, forced to re-download a lot of cached assets as a first-time visitor, and clearing things like "cookies" and causing the user having to accept and click away every cookie-popup again.
        </p><p>
          Some popular apps like CleanMyMac lies in its marketing. They claim they can remove stuff that "can't be manually removed" or the main point being because their app is "notarized by Apple", you can "trust it". Just do a quick Google you'll find tons of malware that was notarized and signed by Apple.<sup><a
            href="https://techcrunch.com/2020/08/31/apple-notarized-mac-malware/"
            target="_blank"
          >[1]</a><a
            href="https://www.techtarget.com/searchsecurity/news/252521168/MacOS-malware-attacks-slipping-through-the-cracks"
            target="_blank"
          >[2]</a><a
            href="https://objective-see.org/blog/blog_0x64.html"
            target="_blank"
          >[3]</a></sup>.
        </p>

        <p>
          In comparision there's cases of great software that is accepeted which does do "cleaning" in a more correct way.
        </p>

        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['AppCleaner', 'DaisyDisk']"
          :bad-list="['Clean My Mac', 'MacKeeper']"
        />


        <h2>Paid over subscription over "free"</h2>
        <p>
          An well made paid software with a fixed price point is more appealing than a "free" app that a lot of times isn't free, or software that comes with a subscription. There's an higher expectency to support developers on MacOS who made a well crafted app. Software like Affinity or Sketch is seen as high quality and would have more likelyhood be part of the Ultimate Picks, while something "free" like Figma is highly discuraged for multiple reasons (performance, battery life, web framework, ui etc.).
        </p>
        <ApproveRejectWidget
          good-title="Approvals"
          bad-title="Rejections"
          :good-list="['Affinity', 'TG Pro']"
          :bad-list="['Adobe CC', 'Figma']"
        />

        <h2>Ultimate Picks</h2>
        <p>
          The best apps we find that overall align with the software curation guidelines and goes a step beyond with overall positive feedback and functionality.
        </p>
        <ApproveRejectWidget
          good-title="Ultimate Picks"
          bad-title="Great, but not good enough"
          :good-list="['Rectangle', 'BetterDisplay', 'Bartender']"
          :bad-list="['Magnet', 'SwitchResX', 'Hidden']"
        />
        <p>We do highly like any user feedback if there's an app you think deserve to be added or removed from the Ultimate Picks list and why. Sometimes it could just have been a app we overlooked during the initial addition</p>

        <h2>Privacy Policies</h2>
        <p>In this day and age, it's hard to stay away from software that collects any personal data, as a lot of times it's not known or discovered until a later date due to the nature of closed-source software. As a general guideline, apps that have been known to be heavy privacy infringing, do inferious data collection, etc. will mostly be rejected per app basis.</p>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@forward "@/assets/sass/vendors/primefaces/primeflex";
@use "@/assets/sass/vendors/primefaces/variables" as *;
.bi {
    margin-right: .5rem;
}
h1 {
    margin-bottom: 2rem;
}
h2 {
    margin-top: 4rem;
}
ul {
    @extend .text-800;
    margin-top: 1rem;
    li {
        line-height: 2;
    }
}

p {
    @extend .text-700;

}
</style>