<script setup>
import { useRoute } from "vue-router"
import AppWidget from "@/components/AppWidget.vue"
import { getMergedData } from '@/data/tables/mergedData.js';
const apps = getMergedData()
const route = useRoute()

const tagName = route.params.tagName
const tagNameTitle = tagName.replace(/-/g, ' ')
const tagAppsData = apps.filter(item => item.tags.includes(tagNameTitle));
const tagAppsCount = Object.keys(tagAppsData).length
const tagAppsDataSortedByName = Object.values(tagAppsData).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});

</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 md:px-6 lg:px-8 mb-7">
      <!-- breadcrumb-->
      <div class="mb-7 mt-1 p-3 pl-0 w-full grid border-bottom-0 border-black-alpha-10 text-sm">
        <router-link
          to="/"
          class="no-underline text-700"
        >
          <i
            class="bi bi-house-fill ml-2 text-700"
          />
        </router-link>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <a
          class="no-underline text-700"
        >
          Tags
        </a>
        <i
          class="bi bi-chevron-right mx-3 text-700"
        />
        <router-link
          :to="tagName"
          class="no-underline text-700 capitalize"
        >
          {{ tagNameTitle }}
        </router-link>
      </div>

      <div class="flex justify-content-between flex-wrap ">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl capitalize">
            {{ tagNameTitle }}
          </div>
        </div>
      </div>
      <p class="text-600 text-lg mb-0 border-300 border-top-1 pt-4">
        Showing {{ tagAppsCount }} apps
      </p>
    </div>





    <div class="px-4 md:px-6 lg:px-8">
      <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
        <div class="grid mt-0 w-full border-top-0 border-300 pb-5">
          <template

            v-for="(item) in (tagAppsDataSortedByName)"
            :key="item.title"
          >
            <AppWidget
              :id="item.id"
              :title="item.title"
              :description="item.description"
              :ultimate="item.ultimatePick"
              :category="item.categoryData?.title"
              :icon="item.categoryData?.icon"
              :website="(item.website !== false ? item.website: '')"
              size="xl"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
