<script setup>
import { getAppData, getMergedData, getAppsByDeveloper, getDeveloperData } from '@/data/tables/mergedData.js';
import AppWidget from "@/components/AppWidget.vue";
import CategoryName from "@/components/CategoryName.vue";

// Get apps that should be built into MacOS
const appsBuiltIn = getAppData(
  ['keeping-you-awake','keka','ipreview','yoink','ejectify','bartender','rectangle','blackhole','better-display','top-notch', 'hidock', 'tg-pro', 'pastepal']
)

// Get top developer(s) by ultimate picks.
const appData = getMergedData()
const ultimatePicks = appData.filter((el) => el.ultimatePick == true)

// Accepts the array and key
const groupBy = (array, key) => {
  return array.reduce((result, currentValue) => {
    (result[currentValue[key]] = result[currentValue[key]] || [])
    .push(
      currentValue
    );
    return result;
  }, {});
};

// Group by color as key to the person array
const sortedBuiltIn = Object.values(appsBuiltIn).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) { return -1; }
  if (titleA > titleB) { return 1; }
  return 0;
});
const sortedValues = Object.values(ultimatePicks).sort((a, b) => {
  const titleA = a.title.toUpperCase();
  const titleB = b.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});

const ultimatePicksGrouped = groupBy(sortedValues, 'category');
const ultimatePicksGroupedSorted = Object.fromEntries(
  Object.entries(ultimatePicksGrouped).sort((a, b) => a[0].localeCompare(b[0]))
);

function getDeveloperIds(obj) {
    const developerIds = []
    for (let i = 0; i < obj.length; i++) {
        developerIds[i] = obj[i].developerId
    }
    return developerIds
}

function mode(array) {
    if(array.length == 0)
        return null;
    var modeMap = {};
    var maxEl = array[0], maxCount = 1;
    for(var i = 0; i < array.length; i++)
    {
        var el = array[i];
        if(modeMap[el] == null)
            modeMap[el] = 1;
        else
            modeMap[el]++;
        if(modeMap[el] > maxCount)
        {
            maxEl = el;
            maxCount = modeMap[el];
        }
    }
    return maxEl;
}
const developersPerApp = getDeveloperIds(ultimatePicks);
const developerWithMostUltimateApps = mode(developersPerApp)
const ultimateDeveloperData = getDeveloperData(developerWithMostUltimateApps)
const ultimateDeveloper = getAppsByDeveloper(developerWithMostUltimateApps).filter((el) => el.ultimatePick == true)
const ultimateDeveloperCount = ultimateDeveloper.length
</script>
<template>
  <div class="content-wrapper">
    <div class="px-4 pt-8 md:px-6 lg:px-8">
      <div class="flex justify-content-between flex-wrap ">
        <div class="flex align-items-center mb-3 md:mb-0">
          <div class="text-900 font-bold text-5xl">
            <i class="bi bi-stars" />
            Ultimate Picks
          </div>
        </div>
      </div>
      <p class="text-600 text-lg mb-5 border-bottom-1 pb-6 border-300">
        The best apps we found that overall align with the software curation guidelines and goes a step beyond with overall positive feedback and functionality.
      </p>
    </div>


    <!-- Section 1 -->
    <div class="px-4 py-6 md:px-6 lg:px-8">
      <div class="flex justify-content-between flex-wrap">
        <div

          class="flex align-items-center mb-3 md:mb-0"
        >
          <router-link
            id="built-in"
            to="#built-in"
            class="text-900 font-bold text-3xl no-underline hover:underline"
          >
            Built-in
          </router-link>
        </div>
      </div>
      <p class="text-600 text-xl mb-5">
        These apps adds the missing pieces that should had be built in by Apple
      </p>
      <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
        <div class="grid">
          <template
            v-for="(item) in sortedBuiltIn"
            :key="item.title"
          >
            <AppWidget
              :id="item.id"
              :title="item.title"
              :description="item.description"
              :category="item.categoryData.title"
              :icon="item.categoryData.icon"
              :website="(item.website !== false ? item.website: '')"
              size="xl"
            />
          </template>
        </div>
      </div>
    </div>


    <!-- Section 2 -->
    <div class="px-4 py-8 md:px-6 lg:px-8">
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center mb-3 md:mb-0">
          <router-link
            id="ultimate-developer"
            to="#ultimate-developer"
            class="text-900 font-bold text-3xl no-underline hover:underline"
          >
            Ultimate developer
          </router-link>
        </div>
      </div>
      <p class="text-600 text-xl mb-5">
        The developer who has made the most picks alone is
        <router-link
          :to="'/developer/' + ultimateDeveloperData.id"
          class="text-800 no-underline border-bottom-1 border-400 hover:text-900"
        >
          {{ ultimateDeveloperData.name }}
        </router-link>, with a total of {{ ultimateDeveloperCount }} apps.
      </p>
      <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
        <div class="grid">
          <template
            v-for="(item) in ultimateDeveloper"
            :key="item.title"
          >
            <AppWidget
              :id="item.id"
              :title="item.title"
              :description="item.description"
              :category="item.categoryData.title"
              :icon="item.categoryData.icon"
              :website="(item.website !== false ? item.website: '')"
              size="xl"
            />
          </template>
        </div>
      </div>
    </div>


    <!-- Section 3 -->
    <div class="px-4 py-8 md:px-6 lg:px-8">
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center mb-3 md:mb-0">
          <router-link
            id="ultimate-picks"
            to="#ultimate-picks"
            class="text-900 font-bold text-3xl no-underline hover:underline"
          >
            Complete list of Ultimate picks
          </router-link>
        </div>
      </div>
      <p
        class="text-600 text-xl mb-5"
      >
        Full list of manually cureated ultimate apps, grouped by category.
      </p>
      <div class="grid grid-nogutter align-items-center mt-5 border-top-0 pt-3 border-300">
        <template
          v-for="(item, name) in ultimatePicksGroupedSorted"
          :key="item.id"
        >
          <div
            :id="name"
            class="text-800 font-bold text-2xl mt-3 ml-2"
          >
            <router-link
              :to="'#' + name"
              class="no-underline text-800 hover:underline"
            >
              <CategoryName :value="name" />
            </router-link>
          </div>
          <div class="grid mt-3 w-full border-top-0 border-300 pb-5">
            <template

              v-for="(item2) in (item)"
              :key="item2.title"
            >
              <AppWidget
                :id="item2.id"
                :title="item2.title"
                :description="item2.description"
                :category="item2.categoryData.title"
                :icon="item2.categoryData.icon"
                :website="(item2.website !== false ? item2.website: '')"
                size="xl"
              />
            </template>
            <hr>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>