<script setup>
defineProps({
  item: {
    type: Object,
    required: true,
  },
  size: {
    type: Boolean,
    required: true,
    default: true, // true = card, false = list
  },
});
</script>
<template>
  <div
    v-if="!size"
    class="col-12 pt-0 pb-0"
  >
    <router-link
      :to="item.routerLink"
      class="no-underline"
    >
      <div
        class="grid border-round p-2 pt-2 md:m-1 pr-3 pl-3"
        :class="
          item.ultimatePick
            ? 'bg-yellow-100 hover:bg-yellow-200'
            : 'surface-ground hover:surface-hover'
        "
      >
        <div class="col-3">
          <div class="text-900 mb-1 mt-1 font-medium text-xl">
            {{ item.title }}
          </div>
          <span class="text-600 line-height-3 mb-2 text-sm  block">{{ item.developerData?.name }}</span>
        </div>

        <div class="col">
          <span class="text-600 line-height-3 text-sm">
            {{ item.description }}
          </span>
        </div>

        <div class="col-3 grid align-content-center justify-content-end">
          <div class="col-12 justify-content-end">
            <div class="text-600 font-medium text-sm text-right">
              <i
                class="text-900 w-full text-sm mr-1"
                :class="[item.categoryData?.icon]"
              /> {{ item.categoryData?.title }} <i class="bi bi-chevron-right text-xs" /> {{ item.subcategoryData?.title }}
            </div>
          </div>
          <div class="col-12">
            <div
              class="text-600 text-right"
            >
              <i
                v-if="item.platforms.appleSilicon == true"
                class="bi bi-apple mx-2"
                title="Works on Apple Silicon"
              />
              <i
                v-if="item.platforms.intel == true"
                class="bi bi-cpu-fill mx-2"
                title="Works on Intel"
              />
              <i
                v-if="item.openSource"
                class="bi bi-unlock-fill mx-2"
                title="Code is Open-Source"
              />
              <i
                v-if="!item.openSource"
                class="bi bi-lock-fill mx-2"
                title="Code is Closed-Source"
              />

              <i
                v-if="item.paymentModelData.id == 'free'"
                class="bi bi-cup-hot-fill mx-2"
                :title="item.paymentModelData.description"
              />
              <i
                v-if="item.paymentModelData.id == 'freemium'"
                class="bi bi-coin mx-2"
                :title="item.paymentModelData.description"
              />
              <i
                v-if="item.paymentModelData.id == 'paid'"
                class="bi bi-cash mx-2"
                :title="item.paymentModelData.description"
              />
              <i
                v-if="item.paymentModelData.id == 'paid-in-app'"
                class="bi bi-cash-coin mx-2"
                :title="item.paymentModelData.description"
              />
              <i
                v-if="item.paymentModelData.id == 'subscription'"
                class="bi bi-credit-card-fill mx-2"
                :title="item.paymentModelData.description"
              />
              <i
                v-if="item.distribution.method == 'appstore'"
                class="bi bi-cart-fill mx-2"
                title="Downloadable from Mac App Store"
              />
              <i
                v-if="item.distribution.method == 'source'"
                class="bi bi-git mx-2"
                title="Downloadable from Git repo"
              />
              <i
                v-if="item.distribution.method == 'website'"
                class="bi bi-globe-americas mx-2"
                title="Downloadable from Website"
              />
            </div>
          </div>
        </div>
      </div>
    </router-link>
  </div>

  <div
    v-else
    class="col-12 md:col-6 lg:col-4 mt-3"
  >
    <template v-if="item.website">
      <a
        :href="item.website"
        target="_blank"
        title="Visit the app's website"
        class="text-800 p-3 z-3 absolute top-0 right-0 m-3 external-link"
      ><i class="bi bi-box-arrow-up-right ml-1" /></a>
    </template>
    <router-link
      :to="item.routerLink"
      class="no-underline"
    >
      <div
        class="grid border-round p-4 pt-4 pb-2 pt-0 md:m-1 h-full"
        style="min-height: 13rem"
        :class="
          item.ultimatePick
            ? 'bg-yellow-100 hover:bg-yellow-200'
            : 'surface-ground hover:surface-hover'
        "
      >
        <div class="col-12">
          <div class="text-900 mb-1 mt-1 font-medium text-xl">
            {{ item.title }}
          </div>
          <span class="text-600 line-height-3 mb-2 text-sm  block">{{ item.developerData?.name }}</span>
          <span class="text-600 line-height-3 text-sm">
            {{ item.description }}
          </span>
        </div>

        <div class="col-12">
          <div class="text-600 font-medium text-sm">
            <i
              class="text-900 w-full text-sm mr-1"
              :class="[item.categoryData?.icon]"
            /> {{ item.categoryData?.title }} <i class="bi bi-chevron-right text-xs" /> {{ item.subcategoryData?.title }}
          </div>
        </div>
        <div class="col-12 grid mt-1 mb-1">
          <div
            class="text-600"
          >
            <i
              v-if="item.platforms.appleSilicon == true"
              class="bi bi-apple mx-2"
              title="Works on Apple Silicon"
            />
            <i
              v-if="item.platforms.intel == true"
              class="bi bi-cpu-fill mx-2"
              title="Works on Intel"
            />
            <i
              v-if="item.openSource"
              class="bi bi-unlock-fill mx-2"
              title="Code is Open-Source"
            />
            <i
              v-if="!item.openSource"
              class="bi bi-lock-fill mx-2"
              title="Code is Closed-Source"
            />

            <i
              v-if="item.paymentModelData.id == 'free'"
              class="bi bi-cup-hot-fill mx-2"
              :title="item.paymentModelData.description"
            />
            <i
              v-if="item.paymentModelData.id == 'freemium'"
              class="bi bi-coin mx-2"
              :title="item.paymentModelData.description"
            />
            <i
              v-if="item.paymentModelData.id == 'paid'"
              class="bi bi-cash mx-2"
              :title="item.paymentModelData.description"
            />
            <i
              v-if="item.paymentModelData.id == 'paid-in-app'"
              class="bi bi-cash-coin mx-2"
              :title="item.paymentModelData.description"
            />
            <i
              v-if="item.paymentModelData.id == 'subscription'"
              class="bi bi-credit-card-fill mx-2"
              :title="item.paymentModelData.description"
            />
            <i
              v-if="item.distribution.method == 'appstore'"
              class="bi bi-cart-fill mx-2"
              title="Downloadable from Mac App Store"
            />
            <i
              v-if="item.distribution.method == 'source'"
              class="bi bi-git mx-2"
              title="Downloadable from Git repo"
            />
            <i
              v-if="item.distribution.method == 'website'"
              class="bi bi-globe-americas mx-2"
              title="Downloadable from Git repo"
            />
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>
<style lang="scss" scoped>
.external-link {
  border-radius: 12px;
  &:hover, &:active, &:focus {
  background: rgba(0, 0, 0, 0.05);
  }
}

</style>