<script setup>
defineProps({
  goodTitle: {
    type: String,
    required: true,
  },
  badTitle: {
    type: String,
    required: true,
  },
  goodList: {
    type: Array,
    required: true,
  },
  badList: {
    type: Array,
    required: true,
  }
});
</script>
<template>
  <div class=" mt-5 grid border-round surface-ground p-3 py-4">
    <div class="grid col-12 md:col-6 md:border-right-1 border-300">
      <div class="col-2">
        <i class="bi bi-check text-5xl text-green-700" />
      </div>
      <div class="col-10">
        <h3 class=" mt-2">
          {{ goodTitle }}
        </h3>
        <ul class="list-none pl-0 text-800 mt-1">
          <li
            v-for="(item, index) in goodList"
            :key="index"
            class="line-height-4"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
    <div class="grid col-12 md:col-6 md:ml-3">
      <div class="col-2">
        <i class="bi bi-x text-5xl text-red-700 " />
      </div>
      <div class="col-10">
        <h3 class=" mt-2">
          {{ badTitle }}
        </h3>
        <ul class="list-none pl-0 text-800 mt-1">
          <li
            v-for="(item, index) in badList"
            :key="index"
            class="line-height-4"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>