<script setup>
defineProps({
  id: {
    type: String,
    required: false,
    default: "",
  },
  title: {
    type: String,
    required: true,
    default: "",
  },
  icon: {
    type: String,
    required: false,
    default: "",
  },
  description: {
    type: String,
    required: true,
    default: "",
  },
  appIcon: {
    type: String,
    required: false,
    default: "./src/assets/img/appicons/audio.png",
  },
  link: {
    type: String,
    required: false,
    default: "",
  },
  category: {
    type: String,
    required: false,
    default: "",
  },
  size: {
    type: String,
    required: true,
    default: "lg" // sm, md, lg, xl, xxl
  },
  ultimate: {
    type: Boolean,
    required: false,
    default: false
  },
  website: {
    type: String,
    required: false,
    default: ""
  }
});
</script>
<template>
  <div
    v-if="size == 'sm'"
    class="col-12 md:col-3 mt-3"
  >
    <router-link
      :to="'/apps/' + id"
      class="no-underline"
    >
      <div
        class="grid border-round p-4 m-1"
        :class="ultimate ? 'bg-yellow-100 hover:bg-yellow-200' : 'surface-ground hover:surface-hover'"
      >
        <div
          class="col-3"
        >
          <i
            class="text-900 w-full text-5xl"
            :class="[icon]"
          />
        </div>
        <div class="col-8">
          <div class="text-900 mb-2 font-medium text-xl">
            {{ title }}
          </div>
          <div class="text-bluegray-500 mb-2 font-medium">
            {{ category }}
          </div>
        </div>
      </div>
    </router-link>
  </div>

  <div
    v-else-if="size == 'md'"
    class="col-12 md:col-3 mt-3"
  >
    <router-link
      :to="'/apps/' + id"
      class="no-underline"
    >
      <div
        class="grid border-round p-4  m-1"
        :class="ultimate ? 'bg-yellow-100 hover:bg-yellow-200' : 'surface-ground hover:surface-hover'"
      >
        <div class="col-12">
          <div class="text-900 mb-3 font-medium text-xl">
            {{ title }}
          </div>
          <span class="text-600 line-height-3 text-sm">
            {{ description }}
          </span>
        </div>
      </div>
    </router-link>
  </div>


  <div
    v-else-if="size == 'lg'"
    class="col-12 md:col-6 lg:col-3  mt-3"
  >
    <template v-if="website">
      <a
        :href="website"
        target="_blank"
        title="Visit the app's website"
        class="text-800 p-3 z-4 absolute top-0 right-0 m-3 external-link"
      ><i class="bi bi-box-arrow-up-right ml-1" /></a>
    </template>
    <router-link
      :to="'/apps/' + id"
      class="no-underline"
    >
      <div
        class="grid border-round p-4 pt-5 md:m-1 h-full"
        style="min-height: 13rem;"
        :class="ultimate ? 'bg-yellow-100 hover:bg-yellow-200' : 'surface-ground hover:surface-hover'"
      >
        <div class="col-12">
          <div class="text-bluegray-500 mb-2 font-medium grid">
            <div class="col-1 mr-2">
              <i
                class="text-900 w-full text-lg"
                :class="[icon]"
              />
            </div>
            <div class="col-9">
              {{ category }}
            </div>
          </div>

          <div class="text-900 mb-3 font-medium text-xl">
            {{ title }}
          </div>
          <span class="text-600 line-height-3 text-sm">
            {{ description }}
          </span>
        </div>
      </div>
    </router-link>
  </div>

  <div
    v-else-if="size == 'xl'"
    class="col-12 md:col-6 lg:col-4 md:mt-3"
  >
    <template v-if="website">
      <a
        :href="website"
        target="_blank"
        title="Visit the app's website"
        class="text-800 p-3 z-4 absolute top-0 right-0 m-3 external-link"
      ><i class="bi bi-box-arrow-up-right ml-1" /></a>
    </template>
    <router-link
      :to="'/apps/' + id"
      class="no-underline"
    >
      <div
        v-if="category === ''"
        class="grid border-round p-4 pt-3 md:m-1 h-full"
        style="min-height: 7rem;"
        :class="ultimate ? 'bg-yellow-100 hover:bg-yellow-200' : 'surface-ground hover:surface-hover'"
      >
        <div
          class="
        col-12"
        >
          <div class="text-bluegray-500 mmb-2 font-medium grid">
            <div
              class="col-1 mr-2"
            >
              <i
                class="text-900 w-full text-lg"
                :class="[icon]"
              />
            </div>
            <div class="col-9">
              {{ category }}
            </div>
          </div>

          <div class="text-900 mb-3 font-medium text-xl">
            <i
              v-if="ultimate"
              class="bi bi-stars mr-1"
            />{{ title }}
          </div>
          <span class="text-600 line-height-3 text-sm">
            {{ description }}
          </span>
        </div>
      </div>
      <div
        v-else
        class="grid border-round p-4 sm:m-0 md:pt-5 md:m-1 h-full"
        style="min-height: 13rem;"
        :class="ultimate ? 'bg-yellow-100 hover:bg-yellow-200' : 'surface-ground hover:surface-hover'"
      >
        <div
          class="
        col-12"
        >
          <div class="text-bluegray-500 mb-2 font-medium grid">
            <div
              class="col-1 md:mr-2"
            >
              <i
                class="text-900 w-full text-lg"
                :class="[icon]"
              />
            </div>
            <div class="col-9">
              {{ category }}
            </div>
          </div>

          <div class="text-900 mb-3 font-medium text-xl">
            {{ title }}
          </div>
          <span class="text-600 line-height-3 text-sm">
            {{ description }}
          </span>
        </div>
      </div>
    </router-link>
  </div>

  <div v-else />
</template>
<style lang="scss" scoped>
.external-link {
  border-radius: 12px;
  &:hover, &:active, &:focus {
  background: rgba(0, 0, 0, 0.05);
  }
}

</style>