<script setup>
const currentYear = new Date().getFullYear();
</script>
<template>
  <div
    id="big-footer"
    class="surface-section px-4 py-8 md:px-6 lg:px-8"
  >
    <div class="content-wrapper">
      <div
        class="flex justify-content-between align-items-center pb-5 text-500 border-bottom-1 border-300 grid"
      >
        <div class="col-12 md:col-6">
          <div class="pr-0 lg:pr-8 flex align-items-center">
            <img
              id="logo-footer"
              src="@/assets/img/logo.svg"
              style="width: 40px; height: 43px"
              alt="logo"
            >
            <span class="text-2xl font-bold ml-3 text-900 grid grid-nogutter">
              <div class="col-12 mb-1">Mac App Collection</div>
              <div class="col-12 text-xs font-normal">
                <a
                  href="https://philipandersen.se"
                  target="_blank"
                  class="text-600 no-underline"
                >Developed by Philip Andersen</a>
              </div>
            </span>
          </div>
        </div>
        <div class="col-12 md:col-6 text-left md:text-right">
          <span>
            <a
              href="https://gitlab.com/renegadevi/mac-app-collection"
              target="_blank"
              class="text-500 text-base text-right no-underline hover:underline"
            ><i class="bi bi-git" /> This is an open-source project</a>
          </span>
        </div>
      </div>
      <p class="text-500 text-xs">
        &copy; {{ currentYear }} Mac App Collection. "Mac App Collection" is a site dedicated to promoting developers who embrace the macOS ecosystem. "Mac App Collection" is a non-commercial site created as a personal side project, but it has also been made possible through contributions from community members. "Mac App Collection" does not take any responsibility for what an end-user decides to install on their computer. Once a user clicks away from our site, the responsibility lies with the end-user. The lack of app icons and screenshots is due to copyright reasons. Most assets, such as the logo, have been made and designed by Philip Andersen. The site contains some assets from Creative Market, with an extended corporate license.
        <br><br>
        "Mac App Collection" is an independent site and has not been authorized, sponsored, or otherwise approved by Apple Inc. "Mac App Store" and "macOS" is a trademark of Apple Inc., registered in the U.S. and other countries. Mac is a trademark of Apple Inc.
      </p>
    </div>
  </div>
</template>
