<script setup>
defineProps({
  title: {
    type: String,
    required: true,
    default: "",
  },
  description: {
    type: String,
    required: true,
    default: "",
  },
  icon: {
    type: String,
    required: false,
    default: "",
  },
  iconColor: {
    type: String,
    required: false,
    default: "",
  },
  link: {
    type: String,
    required: true,
    default: "",
  }
});
</script>
<template>
  <div
    class="col-12 md:col-6 lg:col-6 xl:col-4"
  >
    <router-link
      :to="link"
      class="no-underline"
    >
      <div
        class="grid border-round p-3 surface-ground m-2 hover:surface-hover"
      >
        <div
          class="col-3"
        >
          <i
            class="text-900 w-full text-5xl"
            :class="[icon, iconColor]"
          />
        </div>
        <div
          class="col-9"
        >
          <div class="text-900 mb-1 font-medium text-xl line-height-2">
            {{ title }}
          </div>
          <span class="text-600 line-height-3 text-sm">
            {{ description }}
          </span>
        </div>
      </div>
    </router-link>
  </div>
</template>
