<script setup>
import categories from '@/data/tables/categories.json';
import { ref } from 'vue'
const props = defineProps({
  value: {
    type: String,
    required: false,
    default: "",
  },
  subcategory: {
    type: Boolean,
    required: false,
    default: false
  }
});
function getSubcategoryTitleById(id) {
  const category = categories.categories.find(c => c.subcategories.find(s => s.id === id));

  if (!category) {
    return null;
  }

  const subcategory = category.subcategories.find(s => s.id === id);

  if (!subcategory) {
    return null;
  }

  return subcategory.title;
}
const categoryTitle = ref("");
if (props.subcategory) {
  categoryTitle.value = getSubcategoryTitleById(props.value);
} else {
  categoryTitle.value = categories.categories.find((el) => el.id === props.value).title
}

</script>
<template>
  {{ categoryTitle }}
</template>
