<script setup>
import { ref } from 'vue';
const checkboxValue = ref(false)
</script>
<template>
  <div
    id="top-bar"
    class="border-bottom-1 z-5 border-200 py-3 px-6 flex align-items-center justify-content-between sticky top-0 left-0 right-0 z-4"
  >
    <nav
      class="navigation-menu z-5 content-wrapper flex justify-content-between lg:justify-content-start align-items-center flex-grow-1
      md:text-sm xl:text-base"
    >
      <router-link
        to="/"
        @click="checkboxValue = false"
      >
        <img
          id="logo"
          style="width:40px;height:43px;"
          src="@/assets/img/logo.svg"
          alt="Logo"
        >
      </router-link>
      <label
        class="hamburger-icon"
        for="menu-toggle"
      >
        <i class="bi bi-list" />
      </label>
      <input
        id="menu-toggle"
        v-model="checkboxValue"
        type="checkbox"
      >
      <ul class="main-navigation lg:flex-grow-1 lg:justify-content-start">
        <li>
          <router-link
            to="/recently-added"
            @click="checkboxValue = false"
          >
            New apps
          </router-link>
        </li>

        <li>
          <router-link
            to="/apps"
            @click="checkboxValue = false"
          >
            All apps
          </router-link>
        </li>

        <li>
          <router-link
            to="/categories"
            @click="checkboxValue = false"
          >
            Categories
          </router-link>
        </li>
        <li>
          <router-link
            to="/ultimate-picks"
            @click="checkboxValue = false"
          >
            Ultimate Picks
          </router-link>
        </li>
        <li>
          <router-link
            to="/curation"
            @click="checkboxValue = false"
          >
            Software curation
          </router-link>
        </li>
        <li class="nav-right">
          <button
            class="hero-button-small cursor-pointer"
            data-az-l="a8a7d64e-282a-42d0-9746-6cb000c07bb4"
          >
            Feedback
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>
<style lang="scss" scoped>
@forward "@/assets/sass/vendors/primefaces/primeflex";
@use "@/assets/sass/vendors/primefaces/variables" as *;
#top-bar {
  background: rgba(255, 255, 255);
}
img#logo {
  height: 43px;
  padding-top: 3px;
}
.navigation-menu {
  overflow: hidden;
  //position: relative;
  .main-navigation {
    //display: none;
    display: none;
    margin-top: 1.5rem;

    padding-left: 0px;
    li {
      list-style-type: none;
      ul {
        background: red;
        position: relative;
        li {
          display: none;
        }
      }
    }
    a, label.category-menu {
      text-decoration: none;
      color: $text-color;
      display: block;
      padding: 0.95rem 1.25rem;
      border-radius: 10px;
      border: 2px solid transparent;
      &:hover,
      &.router-link-active {
        color: black;
        border: 2px solid black;
      }
    }
  }
  .hamburger-icon {
    cursor: pointer;
    font-size: 2.5rem;
    color: black;
  }
  #category-toggle,
  #menu-toggle {
    display: none;
  }
  &:has(#menu-toggle:checked) > ul {
    width: 100vw !important;
  }
}

@media screen and (min-width: map-get($sizes, lg)) {
  #top-bar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .navigation-menu {
    display: flex !important;

    .main-navigation {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 30px;
      li {
        margin: 0;
        position: relative;
      }
      a {
        margin-right: 1rem;
      }
    }

    .hamburger-icon {
      display: none;
    }
    &:has(#menu-toggle:checked) > ul {
      width: auto !important;
      flex-wrap: nowrap;
    }
  }
  #menu-toggle:checked + .main-navigation {
    display: flex !important;
  }

}



#menu-toggle:checked + .main-navigation {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-menu:has(#menu-toggle:checked) {
  flex-wrap: wrap;
  display: block !important;
  //width: 100vw !important;
  justify-content: space-between !important;
}
.navigation-menu:has(#menu-toggle:checked) {
  //width: 100vw !important;
  display: flex !important;
}

li.nav-right {
  margin-left: auto !important;
  .hero-button-small {
    justify-content: center;
    margin-right: 0;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    &:hover {
      color: white;
      border: 2px solid black;
    }
  }
}
</style>
