@use "@/assets/sass/vendors/primefaces/variables" as *;
@use "@/assets/sass/vendors/primefaces/primeflex" as *;

.primary-button {
    padding: .8rem 1.125rem;
    border-radius: $border-radius;
}

.hero-button {
  text-decoration: none;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: $border-radius;
  padding: 1.3rem 2rem;
  border: 2px solid white;
  @extend .transition-colors;
  @extend .transition-duration-150;
  &:hover {
    border: 2px solid black;
  }
}
.hero-button-small {
  @extend .hero-button;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

