<script setup>
import TopBar from "@/components/TopBar.vue";
import BigFooter from "@/components/BigFooter.vue";
</script>
<template>
  <TopBar />
  <div style="min-height: 60vh;">
    <router-view v-slot="{ Component, route }">
      <component
        :is="Component"
        :key="route.path"
      />
    </router-view>
  </div>
  <BigFooter />
</template>


