<script setup></script>
<template>
  <div class="py-6 px-4 content-wrapper">
    <span class="text-700 font-bold text-2xl">404</span>

    <h1 class="font-bold text-6xl mt-4 mb-5">
      Page not found
    </h1>

    <p class="text-700 text-xl mt-0 mb-6">
      The page you are looking does not exist.
    </p>
  </div>
</template>
